*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
  }

  body{
    background-image: linear-gradient(to right, #ffffe0, #ffb6c1);
    min-height: 100vh;
    z-index: -10000;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: cornflowerblue;
    overflow: auto;
  }
  
  .logo{
    color: rgb(219, 219, 219);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%
  }
  
  .nav-links li{
    list-style: none;
  }
  
  .nav-links a{
    color: rgb(219, 219, 219);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  .burger{
    display: none;
  }
  
  .burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(219, 219, 219);
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 1024px){
    .nav-links{
      width: 60%;
      position: fixed;
    }
  }
  
  @media screen and (max-width: 768px){
    body{
      overflow-x: hidden;
    }
    .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: cornflowerblue;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      z-index: 1;
    }
    .nav-links li{
      opacity: 0;
    }
    .burger{
      display: block;
      cursor: pointer;
    }
  }
  
  .nav-active{
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  
  .toggle .line2{
    opacity: 0;
  }
  
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }
  
  .flex-parent {
    display: flex;
    margin-top: 25%;
  }
  
  .jc-center {
    justify-content: center;
  }
  
  .buttonStyle{
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    text-align: center;
    display: inline-block;
    background-color:cornflowerblue;
    width: 100px;
    height: 50px;
    letter-spacing: 1px;
    
  }
  
  .buttonStyle:hover{
    background-color:cornflowerblue;
    color: rgb(219, 219, 219);
  }
  
  .homeText h1{
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
  }
  
  .accountText{
    font-size: 20px; 
  }
  
  .welcomeText{
    font-size: 40px;
    text-align: center; 
    padding-top: 2.5%
  }
  
  .logoutButton{
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    top: 75px;
    right: 5px;
    position: absolute;
    background-color: transparent;
    border: none;
  }
  
  .titleText{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
  }

  .homeButtonStyle {
    position: fixed;
    top: 50%;
    right: 50%;
    display: flex;
  }
  
  .homeButtonStyleLogin {
    font-size: 25px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    text-align: center;
    background-color: cornflowerblue;
    width: 100px;
    height: 50px;
    letter-spacing: 1px;
    position: absolute;
    right: 50px;
  }
  
  .homeButtonStyleReg {
    font-size: 25px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    text-align: center;
    background-color: cornflowerblue;
    width: 100px;
    height: 50px;
    letter-spacing: 1px;
    position: absolute;
    right: -150px;
  }

  .form-design{
     text-align: center;
     justify-content: center;
     display: flex;
     padding-top: 5%;
  }

  #calendar {
    width: 200px;
    height: 20px;
  }

  .profile-pic-div{
    height: 200px;
    width: 200px;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid grey;
  }

  #photo{
    height: 100%;
    width: 100%;
  }
  #file{
    display: none;
  }

  #uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(219, 219, 219);
    background: rgba(100, 149, 237, 0.6);
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    display: none;
  }

  .profile-options{
    justify-content: center;
    text-align: center;
    padding-top: 200px;
  }

  #bio{
    width: 450px;
    height: 150px;
    max-width: 900px;
    max-height: 300px;
    resize: both;
    font-size: 15pt;
  }

  #submit-profile{
    width: 150px;
    height: 50px;
    background-color: cornflowerblue;
    color: rgb(219, 219, 219);
    font-size: 24px;
    border: none;
  }

  .subtext{
    font-size: 30px;
    text-align: center;
  }

  #movie-form{
    text-align: center;
    padding-top: 5%;
  }

  #movie{
    width: 300px;
    height: 50px;
    font-size: 20pt;
  }

  #result{
    padding-top: 2.5%;
    text-align: center;
  }

  #movie-btn{
    width: 300px;
    height: 50px;
    font-size: 20pt;
  }

  #favmovie-btn{
    background-color: red;
    border: none;
    color:rgb(219, 219, 219);
    width: 300px;
    height: 60px;
    font-size: 20pt;
  }

  .fav-posters {
    text-align: center;
  }
  
  .fav-poster {
    padding: 10px;
    position: relative;
    display: inline-block;
  }
  
  .fav-poster img{
    width: 220px;
  }
  
  .delete-fav-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
  }
  
  .delete-fav {
    color: white;
  }
  

  .aboutContent p {
    font-size: 18px;
    margin: 30px 0;
    text-align: center;
    padding: 20px;
  }

  #settingsButton{
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    top: 75px;
    left: 5px;
    position: absolute;
    background-color: transparent;
    border: none;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 40%;
    height: 50%;
    position: relative; /* Add position relative */
  }
  
  .close {
    color: #aaaaaa;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 36px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #settingsTitle {
    padding-top: 2.5%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: cornflowerblue;
    border-bottom: 2px solid black;
    height: 20%;
  }
  
